{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "safari": "14"
                }
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                [
                    "@babel/plugin-transform-class-properties",
                    {
                        "loose": true
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                [
                    "@babel/plugin-transform-class-properties",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    }
}
